<app-date-of-birth [(ngModel)]="dob" 
                   requiredError="Date of birth is required"
                   minAgeError="You must be at least 18 years old"
                   maxAgeError="You cannot be more than 120 years old"
                   futureDateError="Date of birth cannot be in the future"
                   #dobField="ngModel"></app-date-of-birth>
<div *ngIf="dobField.invalid && dobField.touched" class="error-message">
  {{ dobField.errors | errorMessage }}
</div>


<mat-form-field>
  <input matInput [matDatepicker]="dobPicker" [formControl]="formControl" (blur)="onTouched()" placeholder="Date of Birth">
  <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
  <mat-datepicker #dobPicker></mat-datepicker>
  <mat-error *ngIf="formControl.invalid && formControl.touched">
    {{ getErrorMessage() }}
  </mat-error>
</mat-form-field>

